.container{
    display: flex;
    justify-content: space-around;
}
.Navbar-Principal{
    display: flex;
}
section.Primeiro-Box{
    height: 640px;
    background: #EFF8FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.texto-ComoFunciona{
    text-align: center;
    color: #293145;
    font-size: 40px;
    line-height: 50px;
    font-family: sora;
    font-style: normal;
    margin-top: 40px;
}
.imagens-segundaSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imagens-segundaSection div.foto{
    width: 210px;
    height: 210px;
    margin-top: 60px;
    text-align: center;
    font-family: sora;
}
.imagens-segundaSection div.foto h4{
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 18px;
    font-family: inter;
}
/* TERCEIRA SECTION */
.section-Terceira{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.textoEfotosEstore{
    margin-left: 60px;
}
/* QUARTA SECTION */

.planos-geral{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 768px){
    /* body{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        max-width: 100%;
    } */
    .container{
        flex-direction: column;
    }
    .Primeiro-Box{
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }
    .Primeiro-Box .imagem-principal img{
        display: none !important;
    }
    .section-Terceira{
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0px;
    }
    .section-Terceira .textoEfotosEstore{
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 20px;
    }
    .section-Terceira img.imagem-notifi{
        display: none !important;
    }
    .planos-geral{
        flex-direction: column;
    }
    .planos{
        margin-bottom: 20px;
    }
    .quarta-section .planos-geral{
        text-align: center;
    }
}